.titles {
  display: flex;
  align-itens: center;
  justify-content: space-between;
  gap: 0.7rem;
}

.titlesMake,
.titleDone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.titlesMakeTitle {
  color: var(--blue);
  font-weight: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.titlesDoneTitle {
  color: var(--purple);
  font-weight: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.titlesMakeTitleNumber,
.titlesDoneTitleNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  padding: 2px 8px;
  height: 19px;

  background: var(--gray-400);
  color: var(--gray-100);
  border-radius: 999px;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 2rem;
}

.tasksListItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  color: var(--gray-100);
}

.tasksListItemCheck {
  display: flex;
  align-items: top;
  justify-content: top;
}

input[type="radio"] {
  position: absolute;
  left: 13.64%;
  right: 13.64%;
  top: 13.64%;
  bottom: 13.64%;
}
