.titles {
  display: flex;
  align-itens: center;
  justify-content: space-between;
}

.titlesMake {
  display: flex;
  flex-direction:colunm;
  align-itens: center;
  justify-content: space-between;
}
