.titles {
  display: flex;
  align-itens: center;
  justify-content: space-between;
}

.titlesMake {
  display: flex;
  flex-direction: row;
  align-itens: center;
  justify-content: space-between;
  gap: 0.3rem;
}
.titlesMakeTitle {
  color: var(--blue);
}

.titlesMakeTitleNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
