.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  gap: 1rem;
}

.container input {
  background-color: var(--gray-500);
  color: var(--gray-300);
  width: 39.93rem;
  padding: 1rem;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  border: 1px solid var(--grey-700);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.container button {
  background: var(--blue-dark);
  color: var(--white);
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 52px;
  width: 90px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  cursor: pointer;

  transition: 0.2s;
}

.container button:hover {
  background: var(--blue);
}
